.reviews_block {
  overflow-y: scroll;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari та Chrome */
  }
}

.reviews_block > ul {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.reviewer_info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.first_letter {
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background: var(--badges);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--button);
}

.reviewer_name {
  display: block;
  margin-bottom: 4px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.star_list {
  display: flex;
  gap: 4px;

  & li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.comment {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}
